section {
  margin-top: 3% !important;
}

/* Points Per Quarter Styles */
div.points-per-qtr-team-info {
  text-align: right;
  position: relative;
  top: 25px;
}

div.points-per-qtr-team-info > p > img {
  width: 65px;
  height: 40px;
}

table.points-per-qtr th {
  text-align: center;
}

table.points-per-qtr td {
  text-align: center;
}
/* End of Points Per Quarter Styles */


/* Team Stats Styles */
.team-stats {
  font-family: 'Indie Flower', cursive;
  font-size: 18pt;
}

.team-stats #vs {
  font-size: 35pt;
  font-weight: 600;
}

.team-stats div.team-stats-categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
  .team-stats ul {
    white-space: nowrap;
    overflow: auto;

    font-size: 14pt;
  }

  .team-stats img {
    width: 80px;
    height: 60px;
  }
}
/* End of Team Stats */
