/* In order to enable swipeup & swipedown gestures */
section > div div {
  touch-action: pan-y !important;
}

#game-date {
  font-size: 18pt;
}

mat-form-field {
  margin-top: 3%;
  width: 50%;
  text-align: center;
}

mat-form-field input {
  font-style: italic;
}

#games-data ul > li {
  cursor: pointer;
}

#games-data ul > li:hover {
  background-color: #f0ffff5e;
}

#games-data .team {
  font-family: 'Indie Flower', cursive;
  font-size: 24pt;
  margin-top: 2%;
}

#games-data .versus > span {
  font-family: 'Indie Flower', cursive;
  font-size: 30pt;
  font-weight: 600;
}
