div.container h1.page-header-title {
  font-family: 'Indie Flower', cursive;
  font-size: 35pt;
}

div.card > img {
  height: 250px;
}

div.card ul > li span.rank:after {
  content: ". ";
}

div.card ul > li span.player-team-name {
  word-break: break-word;
}

div.card ul > li span.player-team-name > span > img {
  height: 50px;
}

div.card ul > li span.category-stat {
  font-weight: bold;
  float: right;
  margin-top: 4%;
}
