<section>

  <div class="container-fluid">
    <div class="row">

      <!-- TODO: Implement Home/Away team tabs? -->
      <!-- TODO: Implement Totals per Team -->

      <!-- Home Team Boxscore -->
      <div class="col">

        <div class="team my-3">
          <img src="{{'../../' && gameStats.homeTeamStats.team.teamLogoPath}}">
          <span>{{gameStats.homeTeamStats.team.fullName}}</span>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th scope="col">PLAYER</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Minutes">MIN</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Made">FGM</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Attempted">FGA</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Percentage">FG%</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Made">3PM</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Attempted">3PA</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Percentage">3P%</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Made">FTM</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Attempted">FTA</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Percentage">FT%</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Offensive Rebounds">OREB</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Defensive Rebounds">DREB</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Rebounds">REB</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Assists">AST</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Steals">STL</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Blocks">BLK</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Turnovers">TOV</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Personal Fouls">PF</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Points">PTS</th>
              <th scope="col" data-toggle="tooltip" data-placement="top" title="Plus/Minus">+/-</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let player of gameStats.homeTeamStats.boxscore.boxscorePlayersStats">
              <th scope="row"><a href="https://stats.nba.com/player/{{player.id}}/" target="_blank">{{player.name}}<sup class="ml-1">{{player.position}}</sup></a></th>

              <td *ngIf="player.comment" colspan="21">{{player.comment}}</td>

              <td *ngIf="!player.comment">{{player.minutes}}</td>
              <td *ngIf="!player.comment">{{player.fgm}}</td>
              <td *ngIf="!player.comment">{{player.fga}}</td>
              <td *ngIf="!player.comment">{{player.fg_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.fg3m}}</td>
              <td *ngIf="!player.comment">{{player.fg3a}}</td>
              <td *ngIf="!player.comment">{{player.fg3_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.ftm}}</td>
              <td *ngIf="!player.comment">{{player.fta}}</td>
              <td *ngIf="!player.comment">{{player.ft_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.offensiveRebounds}}</td>
              <td *ngIf="!player.comment">{{player.defensiveRebounds}}</td>
              <td *ngIf="!player.comment">{{player.totalRebounds}}</td>
              <td *ngIf="!player.comment">{{player.assists}}</td>
              <td *ngIf="!player.comment">{{player.steals}}</td>
              <td *ngIf="!player.comment">{{player.blocks}}</td>
              <td *ngIf="!player.comment">{{player.turnovers}}</td>
              <td *ngIf="!player.comment">{{player.personalFouls}}</td>
              <td *ngIf="!player.comment">{{player.pointsScored}}</td>
              <td *ngIf="!player.comment">{{player.plusMinus}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="w-100"></div>

      <!-- Away Team Boxscore -->
      <div class="col">

        <div class="team my-3">
          <img src="{{'../../' && gameStats.awayTeamStats.team.teamLogoPath}}">
          <span>{{gameStats.awayTeamStats.team.fullName}}</span>
        </div>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">PLAYER</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Minutes">MIN</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Made">FGM</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Attempted">FGA</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Field Goals Percentage">FG%</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Made">3PM</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Attempted">3PA</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Three Pointers Percentage">3P%</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Made">FTM</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Attempted">FTA</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Free Throws Percentage">FT%</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Offensive Rebounds">OREB</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Defensive Rebounds">DREB</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Rebounds">REB</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Assists">AST</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Steals">STL</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Blocks">BLK</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Turnovers">TOV</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Personal Fouls">PF</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Points">PTS</th>
                <th scope="col" data-toggle="tooltip" data-placement="top" title="Plus/Minus">+/-</th>
              </tr>
            </thead>

            <tbody>
            <tr *ngFor="let player of gameStats.awayTeamStats.boxscore.boxscorePlayersStats">
              <th scope="row"><a href="https://stats.nba.com/player/{{player.id}}/" target="_blank">{{player.name}}<sup class="ml-1">{{player.position}}</sup></a></th>

              <td *ngIf="player.comment" colspan="21">{{player.comment}}</td>

              <td *ngIf="!player.comment">{{player.minutes}}</td>
              <td *ngIf="!player.comment">{{player.fgm}}</td>
              <td *ngIf="!player.comment">{{player.fga}}</td>
              <td *ngIf="!player.comment">{{player.fg_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.fg3m}}</td>
              <td *ngIf="!player.comment">{{player.fg3a}}</td>
              <td *ngIf="!player.comment">{{player.fg3_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.ftm}}</td>
              <td *ngIf="!player.comment">{{player.fta}}</td>
              <td *ngIf="!player.comment">{{player.ft_pct * 100 | number:'1.0-2'}}</td>
              <td *ngIf="!player.comment">{{player.offensiveRebounds}}</td>
              <td *ngIf="!player.comment">{{player.defensiveRebounds}}</td>
              <td *ngIf="!player.comment">{{player.totalRebounds}}</td>
              <td *ngIf="!player.comment">{{player.assists}}</td>
              <td *ngIf="!player.comment">{{player.steals}}</td>
              <td *ngIf="!player.comment">{{player.blocks}}</td>
              <td *ngIf="!player.comment">{{player.turnovers}}</td>
              <td *ngIf="!player.comment">{{player.personalFouls}}</td>
              <td *ngIf="!player.comment">{{player.pointsScored}}</td>
              <td *ngIf="!player.comment">{{player.plusMinus}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
