/* You can add global styles to this file, and also import other style files */

/* Web App font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=greek');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Open Sans', sans-serif !important;
}

/* For footer at the bottom of the page */
#router-outlet {
  min-height: calc(100vh - 120px);
}

#router-outlet section {
  margin: 1% 0 80px;
}
